:root{
    --primary-color: #000000;
    --secondary-color: #EEEEEE;
    --tetiary-color: #08CB00;
    --base-color : #253900;
    --font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
html{
    scroll-behavior: smooth;
}

header{
    padding: 20px 0;

}

.nav-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    
}
.nav-items:hover{
    color: var(--secondary-color);
    transition: all  0.5s ease-in-out;
    scale: 1.1;
    a{
        color: var(--secondary-color);
    }
}
.about_me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 20px;
    background-color: var(--primary-color);
}
.about_me_text{
    color: #ffffff;
}
.about_me_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_me_image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.who_i_am{
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
    padding: 15px;
    gap: 20px;
    background-color: var(--tetiary-color);
    color: var(--base-color);
    height: fit-content;
}
.who_i_am_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    direction: ltr;
}
.who_i_am_image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}
.who_i_am_image img{
    width: 100%;
    height: 150%;
    border-radius: 50%;
    margin-top: 300px;
}
.primary_btn{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    width: fit-content;
}
.primary_btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.5s ease-in-out;
}

.life_journey{
    background-color: var(--base-color);
    padding: 20px;
    color: var(--secondary-color);
    text-align: center;
    font-size: larger;
}

.hero_section{
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    padding: 30px;
    gap: 20px;
    /* font-size: xx-large; */
}
.hero_text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero_image{
    width: 50%;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}
.hero_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.school-journey{
     display: grid;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
    padding: 15px;
    gap: 20px;
    background-color: var(--base-color);
    color: white;
    height: fit-content;
}
.school-journey-text{ display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    direction: ltr;
}
.school-journey-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}
.school-journey-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.real-contact {
    background-size: cover;
    background-position: center;
    background-color: var(--base-color);
    color: var(--primary-color);
    display: flex;
}
.contact_me {
    display: block;
}
.contact {
    border-radius: 5%;
    padding: 50px;
    border-style: solid;
    border: var(--base-color);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 200px 100px 100px 200px; 
    background-color: var(--tetiary-color);
}
.contact  button {
    background-color: var(--base-color);
}
.contact button:hover {
    transition: all 0.87s ease-in-out;
    scale: 1.1;
    background-color: var(--tetiary-color);
}
.social_links {
    background-color: var(--tetiary-color);
    padding: 20px;
    padding-bottom: 150px;
    justify-content: space-around;
    gap: 10px;
}
.social_links a {
    color: var(--base-color);
    text-decoration: none;
}

.social_links ul {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 20px;
}
.social_links a:hover {
    scale: 1.1;
     color: var(--secondary-color);
    transition: all 1s ease-in-out;
}
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px;
}
header {
    background-color: var(--tetiary-color);
}
.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: ltr;
    padding: 15px;
    gap: 20px;
    background-color: var(--secondary-color);
    height: fit-content;
}
.experience .my_experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    direction: ltr;
}
.experience .my_experience_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.experience .my_experience_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.aspiration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: ltr;
    padding: 15px;
    gap: 20px;
    background-color: var(--tetiary-color);
    height: fit-content;
}
.my_aspiration {
     display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    direction: ltr;
}
.my_aspirations_images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.my_aspirations_images img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}